<div class="row">
    <div class="col-md-2 col-sm-3">
        <div class="list-group">
            <a href="<%= url_for(action: 'show', controller: 'profile') %>" class="list-group-item <%= request.fullpath.include?('profile') ? 'active' : '' %>">
                Profile
            </a>
            <a href="#" class="list-group-item">Schedule</a>
            <a href="<%= url_for(action: 'show', controller: 'availability') %>" class="list-group-item <%= request.fullpath.include?('availability') ? 'active' : '' %>">
                Availability
            </a>
            <a href="#" class="list-group-item">Timesheets</a>
            <a href="#" class="list-group-item">Requests</a>
            <a href="#" class="list-group-item">Notes</a>
            <a href="#" class="list-group-item">Password Reset</a>
            <a href="#" class="list-group-item">Roles</a>
            <a href="#" class="list-group-item">Activity</a>
        </div>
    </div>
    <div class="col-md-10 col-sm-9">
        <%= yield :person_content %>
    </div>
</div>
